<header>
    <div class="header-content">
        <div class="logo"><a href="/"><img src="/images/mimsh-white.svg"></a></div>
        <nav>
            <a href="/about">about</a> 
            <a href="/students">for students</a>
            <a href="https://www.linkedin.com/in/morovovsheiner/" target="_blank" rel="noopener noreferrer">linkedin</a>
            <a href="https://www.patreon.com/c/Azoysheyn" target="_blank" rel="noopener noreferrer">patreon</a>
            <a href="/contact">contact</a>
        </nav>
    </div>
</header>